.card {
  background: white;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.outOfStock {
  opacity: 0.5;
  border: 2px solid red;
}

.inStock {
  color: green;
  font-weight: bold;
}

.outText {
  color: red;
  font-weight: bold;
}
